<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href='../css/signup.css'>
     <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Registration Form</title>
  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body ng-app="ufxApp">
<div ng-controller="signupController">

   <h1 class="register-title"></h1>
  <form class="register">
       Name: <input type="text" class="register-input" placeholder="Name" ng-model="newUser.name" required><br/>
          Username: <input type="text" class="register-input" placeholder="Username" ng-model="newUser.username"  required><br/>

      Email: <input type="text" class="register-input" placeholder="Email" ng-model="newUser.email"  required><br/>

      Password: <input type="password" class="register-input" placeholder="Password" ng-model="newUser.password"  required><br/>

      Retype Password: <input type="password" class="register-input" placeholder="Password" ng-model="newUser.retypePassword"  required><br/>
    <div class="clearfix">
      <button type="submit" class="register-button"  ng-click="signup()">Sign Up</button>

   
    </div>
  </form>

   
    </div>

  </div>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> -->

  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="../app.js"></script>
  <script src="../factories/userFactory.js"></script>
  <script src="../controllers/signupClientController.js"></script>

  </div>
</div>
</body>
</html>
